@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  /*background: linear-gradient(135deg, #a1f4ff, #29a8e3);*/
  background-image: url(bg_green.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  background-color: #ffffff86;
  border-radius: 10px;
  padding: 30px;
  width: 450px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-container h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.login-container form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-group {
  margin-bottom: 15px;
  position: relative; 
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

.form-group input {
  width: 100%;
  padding: 10px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.form-group button {
  position: absolute;
  right: 10px; /
  top: 60%;
  transform: translateY(30%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #333;
  padding: 0;
}

.form-group button:hover {
  color: #555;
}

.login-button {
  background-color: #E3292A;
  color: #fff;
  font-size: 16px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: #b92626;
}

.footer {
  margin-top: 20px;
  font-size: 14px;
  color: #777;
}

.footer a {
  color: #E3292A;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.material-icons {
  vertical-align: middle;
  pointer-events: none;
}